#canvasContainer
{
	position: relative;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	/*margin: 10px;*/
}

#gameCanvas
{
	border: 1px solid #000000;
}

.menuItem
{
	position: absolute;
	color: #770022;
	font-size: 20px;
	text-align: center;
	width: 200px;
}

.menuItem:hover
{
	text-decoration: underline;
	font-weight: bold;
}

.menuPos1
{
	left: 380px;
	top: 300px;
}

.menuPos2
{
	left: 380px;
	top: 330px;
}

/* GAME SCREEN */
#sidebar
{
	position: absolute;
	left: 0px;
	top: 1px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 160px;
	height: 640px;
}

.sidebarItem
{
	position: relative;
	border: 1px solid black;
	width: 140px;
	height: 140px;
}

.sidebarHover:hover
{
	background-color: #FF0000;
}

.sidebarSelected
{
	background-color: #00FF00;
}
